.preview {
	width: 200px; 
	max-height: 200px;
	display: block;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: floralwhite
}

.jumbotron {
    background: rgb(179,179,179);
    background: radial-gradient(circle, rgba(179,179,179,1) 7%, rgba(137,162,198,1) 100%); 
}