.preview {
	width: 200px; 
	max-height: 200px;
	display: block;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: floralwhite
}

.jumbotron {
    background: rgb(179,179,179);
    background: radial-gradient(circle, rgba(179,179,179,1) 7%, rgba(137,162,198,1) 100%); 
}

.lb-nav a.lb-prev {
    background: url('assets/images/prev.png') left 48% no-repeat;
}

.lb-nav a.lb-next {
    background: url('assets/images/next.png') right 48% no-repeat;
}

.lb-cancel {
    background: url('assets/images/loading.png') no-repeat;
}